body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  margin: 5%;
  font-size: 2.5em;
}

input{
  margin-bottom: 40px;
}

span:hover{
  box-shadow: 10px 10px 8px #377D6A;
}
.grocery-name {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}

#quantity {
  margin-right: 5%;
}

.btn {
  height: 56px;
  width: 56px;
}

.btn-success {
  margin-left: 50px;
}

.grocery-quantity {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
  margin-right: 5%;
}

.btn-warning {
  margin-top: 18px;
}

#missing-name, #missing-quantity {
  margin: 0 auto;
  text-align: center;
}

span {
  margin-top: 20px !important;
}

.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out;
}
.basic-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 100;
  font-size: 0.7em;
}
.basic-slide + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7AB893;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.basic-slide:focus,
.basic-slide:active {
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.basic-slide:focus + label,
.basic-slide:active + label {
  transform: translateY(+100%);
  width: 215px;
}

.style-fix {
  margin-left: 20%;
}

@media only screen and (max-width: 900px) {
  #quantity, #name {
    margin-left: 40%;
    margin-bottom: 20px;
  }
  label {
    margin-left: 30%;
  }
  .basic-slide:focus + label,
  .basic-slide:active + label { 
  transform: translateY(+100%);
  width: 100px;
  }
  .btn-success{
    margin-left: 46%;
    width: 100px;
    margin-bottom: 30px;
  }
  .style-fix{
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  #quantity, #name {
    margin-left: 80px;
    margin-bottom: 20px;
  }
  label {
    margin-left: 50px;
  }
  .basic-slide:focus + label,
  .basic-slide:active + label { 
  transform: translateX(-50%);
  width: 100px;
  }
  .btn-success{
    margin-left: 32%;
    width: 100px;
    margin-bottom: 30px;
  }
  .col-md-3{
    margin-left: 25%;
  }
}

@media only screen and (max-width: 576px) {
  #quantity, #name {
    margin-left: 80px;
    margin-bottom: 20px;
  }
  label {
    margin-left: 50px;
  }
  .basic-slide:focus + label,
  .basic-slide:active + label { 
  transform: translateX(-50%);
  width: 100px;
  }
  .btn-success{
    margin-left: 32%;
    width: 100px;
    margin-bottom: 30px;
  }
  .style-fix{
    margin-left: 0;
  }
  .col-md-3{
    margin-left: 0;
  }
}
